.location {
  background: url('../img/location/location-bg.jpg') center / cover no-repeat;
}

.location__grid {
  display: grid;
  grid-template-columns: 256px;
  justify-content: center;
  gap: 48px 24px;

  @media (min-width: $mobile) {
    grid-template-columns: repeat(auto-fit, 256px);
    justify-content: space-between;
  }
}

.location__item {
  text-align: center;
  color: #fff;
}

.location__img {
  max-width: 245px;
  margin-bottom: 24px;
  overflow: hidden;

  border-radius: 50%;
}

.location__name {
  margin-bottom: 24px;

  font-size: rem(24);
}